.success {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.403);
  height: 100%;
  width: 100%;
  animation: fade-in 0.3s ease-in-out;
  transition: 0.3s;

  .content {
    background: rgb(116, 241, 116);
    box-shadow: 0 0 20px 5px rgba(160, 255, 105, 0.5);
    padding: 72px 64px;

    h2 {
      font-size: 32px;
      letter-spacing: 0.1em;
    }

    p {
      font-size: 18px;
    }
  }

  &.exit {
    animation: fade-out 0.6s ease-in-out forwards !important;
    transform: scale(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
