.player {
  position: absolute;
  height: 144px;
  width: 144px;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  transition: 0.2s linear;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    cursor: pointer;
  }

  svg {
    width: 40%;
  }

  .machango {
    background: url('/machango.png');
  }

  .arrow {
    opacity: 0;
    transition: 0.3s;
    svg {
      fill: white;
    }
  }

  .arrow_up svg,
  .arrow_down svg {
    transform: rotate(90deg);
  }

  &:hover {
    .arrow {
      opacity: 1;
    }
  }
}
