.level {
  padding-top: 48px;

  h1 {
    text-align: center;
  }

  .buttons {
    padding-top: 48px;
    padding-inline: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: large;
      color: rgb(70, 110, 255);
    }
  }
}
